{{ define "main" }}
<div class="w-full mx-auto my-0 px-4 font-sans text-light text-lg prose-h2:text-xl sm:px-8 lg:w-[850px] lg:px-0">
  <header class="flex flex-col mt-32">
    <div class="flex justify-between items-start flex-wrap">
      <div class="w-full sm:w-auto">
        <h1 class="text-3xl font-bold">{{ .Title }}</h1>
        <ul class="flex">
          {{ range .Params.tags }}
          <li class="mr-4 text-muted hover:text-orange">
            <a href="{{ "tags" | absURL}}/{{ . | urlize }}">#{{ . }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="mt-4 w-full flex sm:mt-0 sm:flex-col sm:w-auto sm:items-end sm:justify-between sm:font-bold">
        <span>[{{.Date.Format "2006-01-02"}}]</span>
        <span class="ml-4 sm:ml-0">{{ .Params.author }}</span>
      </div>
    </div>
    <div class="mt-12">
      {{- partial "terminal-line.html" (dict "cmd" "cat" "dir" (printf ".%stoc.txt" .RelPermalink) "cursor" true) -}}
      {{ .TableOfContents }}
    </div>
  </header>
  {{- partial "article.html" . -}}
</div>
{{ end }}