@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jbm-regular.woff2") format("woff2"),
       local("JetBrainsMono");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jbm-bold.woff2") format("woff2"),
       local("JetBrainsMono");
  font-weight: 700;
}