@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/BricolageGrotesque-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/BricolageGrotesque12pt-Regular.woff2') format('woff2');
}