article {

  h2,
  h3,
  h4 {
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h3,
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h4 {
    font-weight: 400;
  }

  p {
    line-height: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  a {
    color: #BC5215;
  }

  :where(h2 + *) {
    margin-top: 0 !important;
  }

  ul {
    padding-left: 1rem;
    list-style-type: none;
    line-height: 2rem;

    li {
      position: relative;

      &::before {
        content: "-";
        position: absolute;
        left: -1rem;
        color: #BC5215;
      }
    }
  }

  code {
    background-color: #1C1B1A;
    color: #BC5215;
    padding: 1px 4px;
    border-radius: 0.25rem;
  }

  pre {
    background-color: #1C1B1A;
    border: 1px solid #282726;
    border-radius: 0.25rem;
    padding: 16px;
    overflow-x: auto;
    width: 100%;
    font-size: 14px;
    line-height: 20px;

    code {
      color: rgba(191, 189, 182, 0.7);
      background-color: initial;
      padding: 0;
    }
  }

  .hanchor {
    margin-left: 1rem;

    &:hover {
      color: #BC5215;
    }
  }

  figure.w-full {
    img {
      width: 100%;
    }
  }
}

#TableOfContents {
  ul {
    line-height: 2rem;
    margin-left: 1.5rem;

    li {
      position: relative;

      &::before {
        content: "-";
        position: absolute;
        left: -1rem;
        color: #BC5215;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}