article h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 32px;
}

article h2:first-child {
  margin-top: 0;
}

article h3, article h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 32px;
}

article h4 {
  font-weight: 400;
}

article p {
  line-height: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

article :where(h2 + *) {
  margin-top: 0 !important;
}

article ul {
  padding-left: 1rem;
  list-style-type: none;
  line-height: 2rem;
}

article ul li {
  position: relative;
}

article ul li::before {
  content: "-";
  position: absolute;
  left: -1rem;
  color: rgb(34, 211, 238);
}

article code {
  background-color: rgba(34, 211, 238, 0.1);
  color: rgb(34, 211, 238);
  padding: 1px 4px;
  border-radius: 0.25rem;
}

article pre {
  background-color: rgba(75, 85, 99, 0.1);
  border: 1px solid rgb(75, 85, 99);
  border-radius: 0.25rem;
  padding: 16px;
}

article pre code {
  color: rgba(191, 189, 182, 0.7);
  background-color: initial;
}

article .hanchor {
  margin-left: 1rem;
}

article .hanchor:hover {
  color: rgb(34, 211, 238);
}

#TableOfContents ul {
  line-height: 2rem;
  margin-left: 1.5rem;
}

#TableOfContents ul li {
  position: relative;
  
}

#TableOfContents ul li::before {
  content: "-";
  position: absolute;
  left: -1rem;
  color: rgb(34, 211, 238);
}

#TableOfContents ul li a:hover {
  text-decoration: underline;
}